*.bak
*.ckpt
*.pyc
.DS_Store
.ipynb_checkpoints
checkpoint
logs/*
tf_logs/*
my_*
temp/*
datasets/glove*
datasets/cats_and_dogs_small
datasets/gan_images
*.h5
.gitattributes
datasets/*.tar.gz
images/*
dream_at_scale*
style_transfer_result*
